.herosection{
   
    padding: 80px 80px 0;
  
}
.herosection .inner{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.herosection h2{
    font-size: 47px;
    font-weight: 700;
    line-height: 56.88px;
    margin: 0 0 20px;
}
.herosection .leftie{
    max-width: 485px;
    padding-right: 15px;
}
.herosection .rightie{
    width: calc(100% - 485px);
    max-width: 470px;
}
.herosection .leftie p{
    font-size: 20px;
    line-height: 24.2px;
    font-weight: 400;
}
.homeinner{
    padding-top: 100px;
}

.counterNumbers .counterinner{
    padding: 80px 0;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--lightdark);
    text-align: center;
}